@import './utils/fonts';
@import './utils/variables';

@import './base';

@import './utils/utils';

@import './components/buttons';
@import './components/links';

@import './layout/section';
@import './layout/conteiner';

@import './layout/header';
@import './layout/hero-section';
@import './layout/advantages-section';
@import './layout/traditions-section';
@import './layout/chefs-section';
@import './layout/formats-section';
@import './layout/contact-section';
@import './layout/footer';

@import './layout/modal';
