.chefs-section {
  &__title {
    position: relative;
    max-width: 520px;
    margin: 0 auto 80px;

    &::before,
    &::after {
      position: absolute;
      bottom: 24px;
      content: '';
      width: 352px;
      border: 2px solid var(--color-brand-light);
    }

    &::before {
      left: -360px;
    }

    &::after {
      right: -360px;
    }
  }

  &__list {
    display: flex;
    gap: 40px 30px;
    flex-wrap: wrap;
  }

  &__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
