.chefs-title {
  position: relative;
  max-width: 520px;
  margin: 0 auto 80px;
}

.chefs-title::before {
  left: -360px;
}

.chefs-title::after {
  right: -360px;
}

.chefs-title::before,
.chefs-title::after {
  position: absolute;
  bottom: 24px;
  content: '';
  width: 352px;
  border: 2px solid var(--color-brand-light);
}

.chefs-list {
  display: flex;
  gap: 40px 30px;
  flex-wrap: wrap;
}

.chef-item {
  flex-basis: calc((100% - 30px) / 2);
}

.chef-card {
  display: flex;
  gap: 30px;
}

.chef-photo {
  border-radius: 4px 4px 4px 200px;
  box-shadow: -16px 16px 0 0 var(--color-primary-light),
    -16px 16px 0 2px var(--color-secondary-dark);
}

.chef-title {
  margin-bottom: 16px;
  font-size: 40px;
  font-weight: 600;
}

.chef-description p {
  margin-bottom: 24px;
}

.chef-description p:last-child {
  margin-bottom: 0;
}
