.footer {
  position: relative;
  padding: 32px 0;
  background-image: url('../images/footer-background.png');
  background-color: var(--color-primary-dark);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &::before,
  &::after {
    position: absolute;
    bottom: 0;
    background-repeat: no-repeat;
    content: '';
  }

  &::before {
    width: 180px;
    height: 120px;
    left: 0;
    background-image: url('../images/decore-bread-small.png');
  }

  &::after {
    width: 380px;
    height: 190px;
    right: 0;
    background-image: url('../images/decore-bread-large.png');
  }

  &__container {
    display: flex;
    gap: 20px;
  }

  &__nav,
  &__address {
    display: flex;
    flex-basis: 50%;
    gap: 20px;
  }

  &__address-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__logo {
    flex-grow: 1;
  }

  &__menu {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__address-list,
  &__address-info {
    flex-grow: 1;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__address-link {
    color: var(--color-primary-light);
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;

    &:hover {
      color: var(--color-brand-normal);
    }
  }

  &__social-icons {
    display: flex;
    gap: 24px;
  }

  &__address-icon {
    fill: var(--color-primary-light);

    &:hover {
      fill: var(--color-brand-normal);
    }
  }

  &__address-info {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__address-copyright {
    font-size: 14px;
    color: var(--color-secondary-dark);
  }
}
