.footer {
  position: relative;
  padding: 32px 0;
  background-image: url('../images/footer-background.png');
  background-color: var(--color-primary-dark);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.footer::before,
.footer::after {
  position: absolute;
  bottom: 0;
  background-repeat: no-repeat;
  content: '';
}

.footer::before {
  width: 180px;
  height: 120px;
  left: 0;
  background-image: url('../images/decore-bread-small.png');
}

.footer::after {
  width: 380px;
  height: 190px;
  right: 0;
  background-image: url('../images/decore-bread-large.png');
}

.footer-container {
  display: flex;
  gap: 20px;
}

.footer-nav,
.footer-address {
  display: flex;
  flex-basis: 50%;
  gap: 20px;
}

.address-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-logo {
  flex-grow: 1;
}

.footer-menu {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.address-list,
.address-info {
  flex-grow: 1;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.address-link {
  color: var(--color-primary-light);
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
}

.address-link:hover {
  color: var(--color-brand-normal);
}

.social-icons {
  display: flex;
  gap: 24px;
}

.address-icon {
  fill: var(--color-primary-light);
}

.address-icon:hover {
  fill: var(--color-brand-normal);
}

.address-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.address-copyright {
  font-size: 14px;
  color: var(--color-secondary-dark);
}
