.footer {
  position: relative;
  padding: 32px 0;
  background-image: url('../images/footer-background.png');
  background-color: var(--color-primary-dark);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &::before,
  &::after {
    position: absolute;
    background-repeat: no-repeat;
    content: '';
  }

  &::before {
    top: 0;
    left: 0;
    width: 70px;
    height: 180px;
    margin-top: 60px;
    background-image: url('../images/decore-bread-large-mobile.png');

    @media screen and (min-width: $bp-tablet) {
      bottom: 0;
      top: auto;
      background-image: url('../images/decore-bread-small.png');
      width: 380px;
      height: 120px;
      margin-top: 0;
    }
  }

  &::after {
    right: 0;
    bottom: 0;
    width: 100px;
    height: 90px;
    background-image: url('../images/decore-bread-small-mobile.png');

    @media screen and (min-width: $bp-tablet) {
      width: 380px;
      height: 185px;
      background-image: url('../images/decore-bread-large.png');
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media screen and (min-width: $bp-desktop) {
      flex-direction: row;
    }
  }

  &__nav,
  &__address {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media screen and (min-width: $bp-desktop) {
      flex-direction: row;
      flex-basis: 50%;
      text-align: left;
    }
  }

  &__address-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__logo {
    flex-grow: 1;
  }

  &__menu {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__address-list,
  &__address-info {
    flex-grow: 1;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__address-link {
    color: var(--color-primary-light);
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;

    &:hover {
      color: var(--color-brand-normal);
    }
  }

  &__social-icons {
    display: flex;
    margin: 0 auto;
    gap: 24px;

    @media screen and (min-width: $bp-desktop) {
      margin: 0;
    }
  }

  &__address-icon {
    fill: var(--color-primary-light);

    &:hover {
      fill: var(--color-brand-normal);
    }
  }

  &__address-info {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__address-copyright {
    font-size: 14px;
    color: var(--color-secondary-dark);
  }
}
