.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s, visibility 0.3s;

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.modal {
  position: relative;
  max-width: 880px;
  max-height: 880px;
  width: 100%;
  height: 100%;
  padding: 48px;
  border-radius: 32px;
  background-color: var(--color-primary-light);
  overflow-y: auto;

  @media screen and (min-width: $bp-tablet) {
    padding: 128px;
  }

  &::after {
    position: absolute;
    bottom: 0;
    background-repeat: no-repeat;
    content: '';
    width: 180px;
    height: 240px;
    right: 0;
    background-image: url('../images/modal-decore-bread.png');
  }

  &__btn-close {
    top: 40px;
    right: 40px;
  }

  &__title {
    font-size: 44px;
    line-height: 1.3;
    font-weight: 600;
    margin-bottom: 8px;
    text-align: center;

    @media screen and (min-width: $bp-tablet) {
      font-size: 64px;
    }
  }

  &__text {
    margin-bottom: 52px;
    text-align: center;

    @media screen and (min-width: $bp-tablet) {
      margin-bottom: 72px;
    }
  }

  &__form-field {
    margin-bottom: 32px;
  }

  &__form-button {
    margin: 0 auto 24px;
  }
}
