.button {
  display: block;
  background-color: var(--color-brand-normal);
  font-weight: 600;
  color: var(--color-primary-light);
  border: 2px solid var(--color-brand-normal);
  border-radius: 8px;
  padding: 16px 32px;
  cursor: pointer;

  &:hover {
    color: var(--color-brand-dark);
    background-color: var(--color-primary-light);
  }
}

.btn-close {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  stroke: var(--color-primary-dark);
  fill: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
}
