.button {
  background-color: var(--color-brand-normal);
  font-weight: 600;
  color: var(--color-primary-light);
  border: 2px solid var(--color-brand-normal);
  border-radius: 8px;
  padding: 16px 32px;
  cursor: pointer;

  &:hover {
    color: var(--color-brand-dark);
    background-color: var(--color-primary-light);
  }
}
